<div class="container">
    <mat-card>
        <h2>List of role</h2>
        <hr>
        <div class="col-12 col-lg-12" *ngIf="errorMessage">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div class="alert-message">
                    {{errorMessage}}
                </div>
                <button type="button" class="close" (click)="closeX()" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">X</span></button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Total roles: <span>{{roleData.length}}</span></h3>
            </div>
            <div class="col">
                <a routerLink="/registerrole" mat-button mat-raised-button>
                    <mat-icon aria-hidden="false" color="accent">add</mat-icon> Add role
                </a>
            </div>
        </div>
        <p>{{roleData.name}}</p>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody *ngIf="roleData.length">
                <tr *ngFor="let roles of roleData">
                    <td>{{roles._id}}</td>
                    <td>{{roles.name}}</td>
                    <td>{{roles.description}}</td>
                    <td>{{roles.active}}</td>
                    <td>{{roles.date}}</td>
                    <button class="btn" mat-utton mat-flat-button>
                        <mat-icon>edit</mat-icon> update
                    </button>
                    <mat-icon color="primary" mat-fab-button (click)="deactivate()">delete</mat-icon>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>