<mat-toolbar class="bgHeader">
  <div class="options" *ngIf="auth.loggedIn()">
    <ul>
      <a routerLink="listTasks">List task</a>
    </ul>
    <ul>
      <a routerLink="saveTask">Create task</a>
    </ul>
  </div>
  <div class="options" *ngIf="auth.loggedIn()" >
    <ul>
      <a routerLink="registerUser" *ngIf="auth.admin">Register Users</a>
    </ul>
    <ul>
      <a routerLink="listUsers" *ngIf="auth.admin">List Users</a>
    </ul>
    <ul>
      <a routerLink="registerRole" *ngIf="auth.admin">Register Role</a>
    </ul>
  </div>
  

  <span class="headerSpacer"></span>
  <ul>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="register">Register</a>
    <a *ngIf="!auth.loggedIn()" mat-button routerLink="login">Login</a>
    <a *ngIf="auth.loggedIn()"  mat-button (click)="auth.logOut()">logout</a>
  </ul>
</mat-toolbar>
